.login {
  background-image: url('/assets/food9.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}

body {
  font-family: 'Arial, sans-serif';
  background-color: #f0f8ff;
  color: #333;
  margin: 0;
  padding: 0;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #b65151;

  .header {
    text-align: center;
    margin-bottom: 20px;

    h1 {
      font-size: 4rem;
      color: #003087;
      margin-bottom: 10px;
      font-weight: bold;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    }

    h3 {
      font-size: 3rem;
      color: #363534;
      padding: 5px 5ch;
      background-color: #ffdb6f;
      border-radius: 8px;
      margin-bottom: 10px;
    }

    h2 {
      font-size: 3.5rem;
      color: #023a72;
      background-color: #e0e7ef;
      padding: 5px 15px;
      border-radius: 8px;
    }
  }

  .content {
    display: flex;
    align-items: flex-start;

    .rating-buttons {
      display: flex;
      flex-direction: column;
      margin-right: 400px;

      .rating-button {
        position: relative;
        border: 2px solid #ccc;
        border-radius: 8px;
        padding: 20px 90px;
        margin-bottom: 30px;
        font-size: 2rem;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &.excellent {
          background-color: #4caf50;
          color: #fff;
        }

        &.good {
          background-color: #67f195;
          color: #fff;
        }

        &.average {
          background-color: #f7e653;
          color: #000;
        }

        &.bad {
          background-color: #f39843;
          color: #fff;
        }

        &.very-bad {
          background-color: #f15044;
          color: #fff;
        }

        &.selected {
          border-color: darken(#000, 15%);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        &:hover {
          background-color: lighten(#dcdcdc, 5%);
        }

        .emoji-icon {
          position: absolute;
          right: -180px;
          top: 50%;
          transform: translateY(-50%);
          width: 100px;
          height: 100px;
        }
      }
    }

    .keypad {
      display: flex;
      flex-direction: column;
      align-items: center;

      .keypad-display {
        width: 400px;
        height: 50px;
        background-color: #fff;
        border: 2px solid #ccc;
        border-radius: 8px;
        font-size: 2.5rem;
        text-align: center;
        line-height: 50px;
        margin-bottom: 20px;
        color: #161515;
      }

      .keypad-buttons {
        display: grid;
        grid-template-columns: repeat(3, 80px);
        grid-gap: 30px;

        button {
          width: 100px;
          height: 100px;
          background-color: #011427;
          color: #fff;
          border: none;
          border-radius: 10px;
          font-size: 3rem;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: #5f6061;
          }
        }

        .delete {
          background-color: #fa0015;

          &:hover {
            background-color: #f76f6f;
          }
        }

        .enter {
          font-size: 2rem;
          background-color: #01295e;

          &:hover {
            background-color: #6c89e9;
          }
        }
      }
    }
  }


  .success-message {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4CAF50;  /* Green color for success */
    color: white;
    padding: 15px;
    border-radius: 5px;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    font-weight: bold;
  }
  
  

  @media (max-width: 768px) {
    .content {
      flex-direction: column;
      align-items: center;

      .rating-buttons {
        margin-right: 0;
      }

      .keypad {
        width: 100%;
      }
    }
  }

  .report-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #8d9eff; // Green background for a positive look
    color: #1d1a1a; // White text
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(40, 167, 69, 0.2); // Soft shadow for depth
    transition: background-color 0.3s, box-shadow 0.3s;
  
    &:hover {
      background-color: #c2f3cd; // Darker green on hover
      box-shadow: 0 6px 12px rgba(40, 167, 69, 0.3); // Increase shadow on hover
    }
  
    &:focus {
      outline: none;
      box-shadow: 0 0 8px rgba(40, 167, 69, 0.5); // Focus effect for accessibility
    }
  }
  
}