.login {
  background-image: url('/assets/food1.jpg'); /* Replace with the path to your image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

body {
  font-family: 'Arial, sans-serif';
  background-color: #f0f8ff;
  color: #333;
  margin: 0;
  padding: 0;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #b65151;

  .header {
    text-align: center;
    margin-bottom: 20px;

    h1 {
      font-size: 4rem;
      color: #003087; /* Darker blue color */
      margin-bottom: 10px;
      font-weight: bold;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Adding shadow to make the text stand out */
    }

    h3 {
      font-size: 3rem;
      color: #363534; /* Orange background with black text */
      padding: 5px 5ch;
      background-color: #ffd966; /* Light orange background */
      border-radius: 8px;
      margin-bottom: 10px;
    }

    h2 {
      font-size: 3.5rem;
      color: #023a72;
      background-color: #e0e7ef; /* Light blue background */
      padding: 5px 15px;
      border-radius: 8px;
    }
  }

  .content {
    display: flex;
    align-items: flex-start;

    .rating-buttons {
      display: flex;
      flex-direction: column;
      margin-right: 500px;
    
       .rating-button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 2px solid #ccc;
        border-radius: 8px;
        padding: 20px 90px;
        margin-bottom: 30px;
        font-size: 2rem;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;

        // Default colors for each button
        &.excellent {
          
          background-color: #4caf50; // Green
          color: #fff;
        }

        &.good {
          background-color: #67f195; // Blue
          color: #fff;
        }

        &.average {
          background-color: #f7e653; // Yellow
          color: #000;
        }

        &.bad {
          background-color: #f39843; // Orange
          color: #fff;
        }

        &.very-bad {
          background-color: #f15044; // Red
          color: #fff;
        }

        // Style when a button is selected
        &.selected {
          border-color: darken(#000, 15%);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        // Hover effect for all buttons
        &:hover {
          background-color: lighten(#dcdcdc, 5%);
        }

        .emoji-icon {
          margin-left: 10px; /* Space between text and emoji */
          width: 24px; /* Adjust size of the emoji */
          height: 24px;
          flex-shrink: 0; /* Prevent emoji from shrinking */
        }
        
      }
    }
    

    .keypad {
      display: flex;
      flex-direction: column;
      align-items: center;

      .keypad-display {
        width: 340px;
        height: 50px;
        background-color: #fff;
        border: 2px solid #ccc;
        border-radius: 8px;
        font-size: 2.5rem;
        text-align: center;
        line-height: 50px;
        margin-bottom: 10px;
        color: #161515;
      }

      .keypad-buttons {
        display: grid;
        grid-template-columns: repeat(3, 80px);
        grid-gap: 30px;

        button {
          width: 100px;
          height: 100px;
          background-color: #011427;
          color: #fff;
          border: none;
          border-radius: 10px;
          font-size: 3rem;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: #5f6061;
          }
        }

        .delete {
          background-color: #fa0015;

          &:hover {
            background-color: #6c89e9;
          }
        }        

        .enter {
          font-size: 2rem;
          background-color: #01295e;
          

          &:hover {
            background-color: #6c89e9;
          }
        }
      }
    }
  }
}
