.report-page {
  background-color: #f7f9fc; // Softer background color
  padding: 40px;
  min-height: 100vh; // Change to a reasonable height for content
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center; // Center align content

  h1 {
    text-align: center;
    color: #34495e; // Slightly darker color for better readability
    margin-bottom: 30px;
    font-size: 36px; // Increase size for better prominence
    font-weight: bold;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  }

  // Flex layout for selectors and button for better alignment
  .selectors-row {
    display: flex;
    justify-content: space-between;
    align-items: center; // Center align vertically
    width: 100%;
    max-width: 1200px; // Limit row width
    margin-bottom: 25px;

    .date-picker,


    .meal-selector {
      flex: 1;
    }

    .meal-selector {
      margin-left: 20px;
    }

    .export-button {
      margin-left: auto;
    }
  }

  // Date picker styling
  .date-picker {
    display: flex;
    justify-content: flex-start; // Align date picker to the left
    margin-bottom: 0;
    align-items: center;


    
    label {
      font-size: 18px;
      color: #34495e;
      margin-right: 20px;
    }

    .react-datepicker-wrapper {
      width: auto;
    }

    .react-datepicker__input-container input {
      width: 220px;
      padding: 12px 10px;
      font-size: 16px;
      border-radius: 8px;
      border: 1px solid #54e093;
      transition: border-color 0.3s, box-shadow 0.3s;
      

      &:hover,
      &:focus {
        border-color: #007bff;
        box-shadow: 0px 0px 8px rgba(0, 123, 255, 0.5);
      }
    }
  }

  .meal-selector {
    display: flex;
    align-items: center;

    label {
      font-size: 18px;
      color: #34495e;
      margin-right: 20px;
    }

    select {
      padding: 10px 15px;
      font-size: 16px;
      border-radius: 8px;
      border: 1px solid #ccc;
      background-color: #ffffff;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      transition: border-color 0.3s;

      &:hover,
      &:focus {
        border-color: #007bff;
        box-shadow: 0px 0px 8px rgba(0, 123, 255, 0.5);
      }
    }
  }

  // Styled export button
  .export-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background-color: #28a745;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(40, 167, 69, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;

    &:hover {
      background-color: #218838;
      box-shadow: 0 6px 12px rgba(40, 167, 69, 0.3);
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 8px rgba(40, 167, 69, 0.5);
    }
  }

  // Improved chart layout
  .chart-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1000px; // Limit chart box width
    padding: 25px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;

    h2 {
      text-align: center;
      color: #06498b;
      margin-bottom: 20px;
      font-size: 30px;
      font-weight: 600;
    }

    .bar-chart {
      width: 50%;
      margin-bottom: 30px;
    }

    .pie-charts {
      display: flex;
      justify-content: space-around; // Space out pie charts
      width: 100%;
    }

    .pie-chart {
      flex: 1;
      max-width: 200px;
    }
  }

  .chart-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
  }

  canvas {
    width: 100% !important;
    height: 200px !important; // Adjust canvas size for better view
  }
}
